<cart id="Cart" class="cart-hidden">
  <div id="cart_header">
    <h1 id="cart_header_text">Shopping Cart</h1>
    <button id="close_cart_btn">
      <img src="../../assets/close-line.png" alt="" />
    </button>
  </div>
  <div id="cart_space"></div>
  <div id="cart_content">
    <h1 class="text-center pb-10">Your cart is empty :(</h1>
  </div>
  <div id="cart_total_space"></div>
  <div id="cart_total">
    <h1 class="uppercase font-bold">Total</h1>
    <h1 class="uppercase font-bold" id="total_price">0 KR.</h1>
  </div>
</cart>
