<main class="Main">
  <div id="info">
    <div id="leftSection">
      <img src="../../assets/alert-circle.png" alt="" id="info_img" />
      <h1 class="uppercase font-bold">alpha</h1>
      <p id="info_text">Important info regarding our service</p>
    </div>
    <div id="btn_section">
      <button id="more_button">
        <img src="../../assets/chevron-down.png" alt="" />
      </button>
    </div>
  </div>
  <div id="black_overlay">
    <h1 class="font-bold p-4 text-lg">Info</h1>
    <div class="space"></div>
    <div id="details">
      <div class="flex justify-center w-full text-center">
        <h2 class="mt-44 p-4">
          Click on any photo of product, to look at details
        </h2>
      </div>
    </div>
  </div>
  <div id="all_data"></div>
  <div id="pagination"></div>
</main>
