<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <footer id="footer">
      <img src="../../assets/Logomark-Big.png" alt="" id="logoFooter" />
      <div class="footerLinks">
        <a href="" class="f_link">FAQ</a>
        <a href="" class="f_link">Returns</a>
        <a href="" class="f_link">Contact</a>
      </div>
      <div class="footerLinks">
        <a href="" class="f_link">Terms & conditions</a>
        <a href="" class="f_link">Privacy Policy</a>
        <a href="" class="f_link">Cookie Policy</a>
        <a href="" class="f_link">Cookie Settings</a>
      </div>
      <div class="footerLinks">
        <a href="" class="f_link">About Second Chance</a>
        <a href="" class="f_link">Career</a>
        <a href="" class="f_link">Facebook</a>
        <a href="" class="f_link">Instagram</a>
      </div>
    </footer>
  </body>
</html>
